{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="main">
	<div class="form-container">
		<div class="form-title">Авторизация</div>
		<form class="form" method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}

			{{ form.username }}
			{{ form.username.errors }}

			{{ form.password }}
			{{ form.password.errors }}
			<button type="submit" class="submit-button">Войти</button>
			<a href="{% url 'signup' %}" class="link-signup">Нет аккаунта?</a>
		</form>
	</div>
</main>
{% endblock %}