{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <title>Отзывы</title>
</head>

<body>
  <div class="wrapper">
    <div class="home_page">
      <header>
        <a href="{% url 'home' %}">
          <div class="logo">
            <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
            <p class="text_logo">Рекламная<br />компания А4</p>
          </div>
        </a>
        <div class="menu">
          <a href="{% url 'projects' %}">проекты</a>
          <a href="{% url 'services_brand' %}">услуги</a>
          <a href="{% url 'price' %}">цены</a>
          <a href="{% url 'reviews' %}">отзывы</a>
          <a href="{% url 'home' %}#contact">контакты</a>
          <img src="{% static 'imgs/user-logo.svg' %}" alt="user-logo" class="user-logo">
          <a href="#" id="login-link">Войти</a>
          <span id="user-info" style="display: none;">
            <span id="username"></span>
            <a href="#" id="logout-link">Выйти</a>
          </span>
        </div>
      </header>
      <div class="content_home_page">
        <p class="title_home_page">Отзывы</p>
        <div class="block_reviews" id="reviewsContainer">
          <div class="reviews btn">
            <button class="submit" id="myBtn">Оставить отзыв</button>
          </div>
        </div>
        <div id="reviewModal" class="modal">
          <div class="modal-content">
            <div class="modal-body">
              <form id="reviewForm" class="review_form">
                <p class="review_title_form">
                  <b>Оставьте отзыв о нашей компании! С благодарностью, <br><span>“Рекламная компания “А4”</span></b>
                </p>
                <textarea id="reviewText" class="review_input" placeholder="Напишите отзыв" required></textarea>
                <button type="submit" class="auth-button">Отправить отзыв</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a href="{% url 'home' %}">
        <div class="logo">
          <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
          <p class="text_logo">Рекламная<br />компания А4</p>
        </div>
      </a>
      <div class="sub_menu">
        <div class="left_menu">
          <a href="{% url 'home' %}#about_comp">
            <p>о компании</p>
          </a>
          <a href="{% url 'home' %}#contact">
            <p style="margin: 11px 0">контакты</p>
          </a>
          <a href="{% url 'reviews' %}">
            <p>отзывы</p>
          </a>
        </div>
        <div class="line"></div>
        <div class="right_menu">
          <a href="{% url 'projects' %}">
            <p>проекты</p>
          </a>
          <a href="{% url 'services_brand' %}">
            <p style="margin: 11px 0">услуги</p>
          </a>
          <a href="{% url 'price' %}">
            <p>цены</p>
          </a>
        </div>
      </div>
    </footer>
  </div>
  <!-- Попап для авторизации и регистрации -->
  <div id="auth-popup" class="auth-popup">
    <div class="auth-popup-content">
      <span class="auth-close-popup">&times;</span> <!-- Кнопка закрытия -->

      <!-- Форма авторизации -->
      <div id="auth-login-form" class="auth-form">
        <h2 class="auth-form-title">Авторизация</h2>
        <form id="auth-login" class="auth-form-container">
          <input type="email" id="auth-login-email" class="auth-input" placeholder="Email" required>
          <input type="password" id="auth-login-password" class="auth-input" placeholder="Пароль" required>
          <button type="submit" class="auth-button">Войти</button>
        </form>
        <p class="auth-form-text">Нет аккаунта? <a href="#" id="auth-show-register"
            class="auth-link">Зарегистрироваться</a></p>
      </div>

      <!-- Форма регистрации -->
      <div id="auth-register-form" class="auth-form" style="display: none;">
        <h2 class="auth-form-title">Регистрация</h2>
        <form id="auth-register" class="auth-form-container">
          <input type="text" id="auth-register-username" class="auth-input" placeholder="Имя пользователя" required>
          <input type="email" id="auth-register-email" class="auth-input" placeholder="Email" required>
          <input type="password" id="auth-register-password" class="auth-input" placeholder="Пароль" required>
          <input type="password" id="auth-register-password-confirm" class="auth-input" placeholder="Повторите пароль"
            required>
          <div id="auth-register-error" class="auth-error-message" style="display: none;">Пароли не совпадают</div>
          <button type="submit" class="auth-button">Зарегистрироваться</button>
        </form>
        <p class="auth-form-text">Есть аккаунт? <a href="#" id="auth-show-login" class="auth-link">Войти</a></p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{% static 'js/reviews.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/auth.js' %}"></script>
</body>

</html>