{% extends 'base.html' %}
{% load static %}

{% block title %}Рекламная компания А4{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
<div class="content_home_page">
  <p class="title_home_page">Отзывы</p>
  <div class="block_reviews" id="reviewsContainer">
    <div class="reviews btn">
      <button class="submit" id="openReviewModal">Оставить отзыв</button>
    </div>
  </div>

  <!-- Модальное окно -->
  <div id="reviewModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-body">
        <form id="reviewForm" class="review_form">
          <p class="review_title_form">
            <b>Оставьте отзыв о нашей компании! С благодарностью, <br><span>“Рекламная компания “А4”</span></b>
          </p>
          <textarea id="reviewText" class="review_input" placeholder="Напишите отзыв" required></textarea>
          <button type="submit" class="auth-button">Отправить отзыв</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Скрипт для управления модальным окном -->
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}