{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/services.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <title>Услуги | Производство</title>
</head>

<body>
  <div class="wrapper">
    <div class="home_page">
      <header>
        <a href="{% url 'home' %}">
          <div class="logo">
            <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
            <p class="text_logo">Рекламная<br />компания А4</p>
          </div>
        </a>
        <div class="menu">
          <a href="{% url 'projects' %}">проекты</a>
          <a href="{% url 'services_brand' %}">услуги</a>
          <a href="{% url 'price' %}">цены</a>
          <a href="{% url 'reviews' %}">отзывы</a>
          <a href="{% url 'home' %}#contact">контакты</a>
          <img src="{% static 'imgs/user-logo.svg' %}" alt="user-logo" class="user-logo">
          <a href="#" id="login-link">Войти</a>
          <span id="user-info" style="display: none;">
            <span id="username"></span>
            <a href="#" id="logout-link">Выйти</a>
          </span>
        </div>
      </header>
      <main class="main">
        <div class="main-content">
          <h1 class="title">Услуги</h1>
          <img src="{% static 'imgs/Group 11.jpg' %}" alt="" class="line">
          <div class="filters">
            <a href="{% url 'services_brand' %}" class="service-title">Брендинг</a>
            <a href="{% url 'services_prod' %}" class="service-title">Производство</a>
            <a href="{% url 'services_install' %}" class="service-title">Установка</a>
          </div>
        </div>
        <div class="cards">
          <div class="cards-content">
            <div class="card">
              <img src="{% static 'imgs/4.png' %}" class="card-img">
              <p class="card-title">Изготовление вывесок</p>
              <div class="card-info">
                <div class="item">
                  <p class="item-text">динамические вывески от 70 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">вывески с QR-кодами от 75 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">3D-вывески от 80 тыс.</p>
                  <div class="item-line"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imgs/5.png' %}" alt="" class="card-img">
              <p class="card-title">Материалы для торговых точек</p>
              <div class="card-info">
                <div class="item">
                  <p class="item-text">изготовление витрин от 60 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">производство буклетов от 40 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">широкий спектр печатных услуг от 50 тыс.</p>
                  <div class="item-line"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'imgs/6.png' %}" alt="" class="card-img">
              <p class="card-title">Навигационные системы</p>
              <div class="card-info">
                <div class="item">
                  <p class="item-text">вывески на нескольких языках от 65 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">баннеры и указатели от 85 тыс.</p>
                  <div class="item-line"></div>
                </div>
                <div class="item">
                  <p class="item-text">сенсорные экраны от 100 тыс.</p>
                  <div class="item-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="submit-application">Подать заявку</a>
      </main>
      <footer>
        <a href="#home_page">
          <div class="logo">
            <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
            <p class="text_logo">Рекламная<br />компания А4</p>
          </div>
        </a>
        <div class="sub_menu">
          <div class="left_menu">
            <a href="{% url 'home' %}#about_comp">
              <p>о компании</p>
            </a>
            <a href="{% url 'home' %}#contact">
              <p style="margin: 11px 0;">контакты</p>
            </a>
            <a href="{% url 'reviews' %}">
              <p>отзывы</p>
            </a>
          </div>
          <div class="line-footer"></div>
          <div class="right_menu">
            <a href="{% url 'projects' %}">
              <p>проекты</p>
            </a>
            <a href="{% url 'services_brand' %}">
              <p style="margin: 11px 0;">услуги</p>
            </a>
            <a href="{% url 'price' %}">
              <p>цены</p>
            </a>
          </div>
        </div>
      </footer>
    </div>
</body>

</html>