{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги | Производство{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<main class="main">
  <div class="main-content">
    <h1 class="title">Услуги</h1>
    <img src="{% static 'imgs/Group 11.jpg' %}" alt="" class="line-img">
    <div class="filters">
      <a href="{% url 'services_brand' %}" class="service-title">Брендинг</a>
      <a href="{% url 'services_prod' %}" class="service-title">Производство</a>
      <a href="{% url 'services_install' %}" class="service-title">Установка</a>
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <div class="card">
        <img src="{% static 'imgs/4.png' %}" class="card-img">
        <p class="card-title">Изготовление вывесок</p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">динамические вывески от 70 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">вывески с QR-кодами от 75 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">3D-вывески от 80 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'imgs/5.png' %}" alt="" class="card-img">
        <p class="card-title">Материалы для торговых точек</p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">изготовление витрин от 60 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">производство буклетов от 40 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">широкий спектр печатных услуг от 50 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'imgs/6.png' %}" alt="" class="card-img">
        <p class="card-title">Навигационные системы</p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">вывески на нескольких языках от 65 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">баннеры и указатели от 85 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">сенсорные экраны от 100 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="submit-application">Подать заявку</a>
</main>
{% endblock %}