{% extends 'base.html' %}
{% load static %}

{% block title %}Услуги | Брендинг{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<main class="main">
  <div class="main-content">
    <h1 class="title">Услуги</h1>
    <img src="{% static 'imgs/Group 11.jpg' %}" alt="" class="line-img">
    <div class="filters">
      <a href="{% url 'services_brand' %}" class="service-title">Брендинг</a>
      <a href="{% url 'services_prod' %}" class="service-title">Производство</a>
      <a href="{% url 'services_install' %}" class="service-title">Установка</a>
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <div class="card">
        <img src="{% static 'imgs/1.png' %}" class="card-img">
        <p class="card-title">Разработка фирменного стиля </p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">создание логотипов от 30 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">подбор цветовых палитр от 15 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">брендирование мероприятий от 20 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'imgs/2.png' %}" alt="" class="card-img">
        <p class="card-title">Маркетинговые исследования</p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">анализ конкурентов бренда от 10 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">анализ целевой аудитории от 15 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">анализ тенденций рынка от 12 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'imgs/3.png' %}" alt="" class="card-img">
        <p class="card-title">Разработка кампаний</p>
        <div class="card-info">
          <div class="item">
            <p class="item-text">создание рекламных стратегий от 30 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">консультации по брендингу от 15 тыс.</p>
            <div class="item-line"></div>
          </div>
          <div class="item">
            <p class="item-text">разработка слоганов от 20 тыс.</p>
            <div class="item-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="submit-application">Подать заявку</a>
</main>
{% endblock %}