{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <title>Рекламная компания</title>
</head>

<body>
  <div class="wrapper">
    <div class="home_page">
      <header>
        <a href="{% url 'home' %}">
          <div class="logo">
            <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
            <p class="text_logo">Рекламная<br />компания А4</p>
          </div>
        </a>
        <div class="menu">
          <a href="{% url 'projects' %}">проекты</a>
          <a href="{% url 'projects' %}#servis">услуги</a>
          <a href="{% url 'price' %}">цены</a>
          {% comment %} <a href="{% url 'reviews' %}">отзывы</a> {% endcomment %}
          <a href="{% url 'home' %}#contact">контакты</a>
          <img src="{% static 'imgs/user-logo.svg' %}" alt="user-logo" class="user-logo">
          <a href="#" id="login-link">Войти</a>
          <span id="user-info" style="display: none;">
            <span id="username"></span>
            <a href="#" id="logout-link">Выйти</a>
          </span>
        </div>
      </header>
      <div class="content_home_page" id="home_page">
        <div class="text_content">
          <p class="title_home_page">
            <span>Увеличиваем</span> количество клиентов и
            <span>выручку</span> компании
          </p>
          <p class="sub_title_home_page">
            Создадим вам рекламу любого формата и поднимем узнаваемость
            компании за короткий период
          </p>
          <a href="{% url 'price' %}"><button>Подробнее</button></a>
        </div>
        <img src="{% static 'imgs/outdoor-advertising-light-box-street 1.jpg' %}" alt="" />
      </div>
    </div>
    <div class="about_page" id="about_comp">
      <div>
        <p class="title_about_page"><b>О компании</b></p>
        <p class="desc_about_page">
          Рекламная компания “А4” — это ведущая рекламно-производственная
          компания в городе Оренбурге. Основана в 2006 году. Специализируется
          на комплексных проектах по наружному и интерьерному оформлению.
        </p>
      </div>
      <div class="info">
        <p class="text_info">
          <b><span>10 тысяч</span><br />
            выполненных проектов</b>
        </p>
        <p class="text_info">
          <b><span>15 лет №1</span><br />
            в производстве наружной рекламы
          </b>
        </p>
        <p class="text_info">
          <b><span>20 тысяч</span><br />
            довольных клиентов
          </b>
        </p>
      </div>
    </div>
    <section>
      <div class="top_side">
        <p class="title_section">С кем мы работаем</p>
        <img src="{% static 'imgs/Group 11.jpg' %}" alt="" />
      </div>
      <div class="bottom_side">
        <div class="block_icon">
          <img src="{% static 'imgs/Mask group.svg' %}" alt="" />
          <p class="desc_icon">
            бюджетные учреждения <br />
            крупные муниципальные проекты
          </p>
        </div>
        <div class="block_icon">
          <img src="{% static 'imgs/Group 6.svg' %}" alt="" />
          <p class="desc_icon">
            физические лица <br />
            баннеры, вывески
          </p>
        </div>
        <div class="block_icon">
          <img src="{% static 'imgs/Group 5.svg' %}" alt="" />
          <p class="desc_icon">
            юридические лица <br />
            оформление торговой точки
          </p>
        </div>
      </div>
    </section>
    <div class="contact_page" id="contact">
      <div class="block_contact">
        <p class="title_contact_page">Контакты</p>
        <div class="sub_block">
          <div style="position: relative; overflow: hidden">
            <a href="https://yandex.ru/maps/48/orenburg/?utm_medium=mapframe&utm_source=maps"
              style="color: #eee;font-size: 12px;position: absolute;top: 0px;">Оренбург</a>
            <a href="https://yandex.ru/maps/48/orenburg/house/prospekt_pobedy_142/YUwYdwRlSUMFQFtrfXt4eHhjYQ==/?ll=55.135061%2C51.799406&utm_medium=mapframe&utm_source=maps&z=16.59"
              style="color: #eee;font-size: 12px;position: absolute;top: 14px;">Проспект Победы, 142 — Яндекс Карты</a>
            <iframe
              src="https://yandex.ru/map-widget/v1/?ll=55.135061%2C51.799406&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTkyNTg1Mzc5EkLQoNC-0YHRgdC40Y8sINCe0YDQtdC90LHRg9GA0LMsINC_0YDQvtGB0L_QtdC60YIg0J_QvtCx0LXQtNGLLCAxNDIiCg1NilxCFZcyT0I%2C&z=16.59"
              width="490" height="400" frameborder="1" allowfullscreen="true" style="position: relative"></iframe>
          </div>
          <form id="applicationForm" class="application_form">
            <p class="aplication_title_form"><b>Оставьте заявку на <span>бесплатный</span> замер!</b></p>
            <input class="aplication_form_input" type="text" id="name" placeholder="Ваше имя" required>
            <input class="aplication_form_input" type="email" id="email" placeholder="Ваш email" required>
            <button type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <a href="#home_page">
        <div class="logo">
          <img src="{% static 'imgs/Group 41.svg' %}" alt="" />
          <p class="text_logo">Рекламная<br />компания А4</p>
        </div>
      </a>
      <div class="sub_menu">
        <div class="left_menu">
          <a href="{% url 'home' %}#about_comp">
            <p>о компании</p>
          </a>
          <a href="{% url 'home' %}#contact">
            <p style="margin: 11px 0;">контакты</p>
          </a>
          {% comment %} <a href="{% url 'reviews' %}"> {% endcomment %}
            <p>отзывы</p>
          {% comment %} </a> {% endcomment %}
        </div>
        <div class="line"></div>
        <div class="right_menu">
          <a href="{% url 'projects' %}">
            <p>проекты</p>
          </a>
          <a href="{% url 'projects' %}#servis">
            <p style="margin: 11px 0;">услуги</p>
          </a>
          <a href="{% url 'price' %}">
            <p>цены</p>
          </a>
        </div>
      </div>
    </footer>
  </div>
  <!-- Попап для авторизации и регистрации -->
  <div id="auth-popup" class="auth-popup">
    <div class="auth-popup-content">
      <span class="auth-close-popup">&times;</span> <!-- Кнопка закрытия -->

      <!-- Форма авторизации -->
      <div id="auth-login-form" class="auth-form">
        <h2 class="auth-form-title">Авторизация</h2>
        <form id="auth-login" class="auth-form-container">
          <input type="email" id="auth-login-email" class="auth-input" placeholder="Email" required>
          <input type="password" id="auth-login-password" class="auth-input" placeholder="Пароль" required>
          <button type="submit" class="auth-button">Войти</button>
        </form>
        <p class="auth-form-text">Нет аккаунта? <a href="#" id="auth-show-register"
            class="auth-link">Зарегистрироваться</a></p>
      </div>

      <!-- Форма регистрации -->
      <div id="auth-register-form" class="auth-form" style="display: none;">
        <h2 class="auth-form-title">Регистрация</h2>
        <form id="auth-register" class="auth-form-container">
          <input type="text" id="auth-register-username" class="auth-input" placeholder="Имя пользователя" required>
          <input type="email" id="auth-register-email" class="auth-input" placeholder="Email" required>
          <input type="password" id="auth-register-password" class="auth-input" placeholder="Пароль" required>
          <input type="password" id="auth-register-password-confirm" class="auth-input" placeholder="Повторите пароль"
            required>
          <div id="auth-register-error" class="auth-error-message" style="display: none;">Пароли не совпадают</div>
          <button type="submit" class="auth-button">Зарегистрироваться</button>
        </form>
        <p class="auth-form-text">Есть аккаунт? <a href="#" id="auth-show-login" class="auth-link">Войти</a></p>
      </div>
    </div>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/auth.js' %}"></script>
  <script src="{% static 'js/application.js' %}"></script>
</body>

</html>