{% extends 'base.html' %}
{% load static %}

{% block title %}Наши проекты{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block content %}
<div class="content_home_page">
	<p class="title_home_page">Проекты</p>
	<img src="{% static 'imgs/Group 11.jpg' %}" alt="" />
</div>
<div class="slider">
	<img src="{% static 'imgs/Group 37.jpg' %}" alt="" />
	<img src="{% static 'imgs/Group 38.jpg' %}" alt="" />
	<img src="{% static 'imgs/Group 40.jpg' %}" alt="" />
	<img src="{% static 'imgs/Group 41.jpg' %}" alt="" />
</div>
</div>
<div class="services_page">
	<p class="title_services_page" id="servis">Услуги</p>
	<div class="block_content">
		<div class="line"></div>
		<div class="text_content">
			<p>разработка дизайна</p>
			<p>работа с согласованием вывесок</p>
			<p>ремонт вывесок</p>
			<p>работа промышленных альпинистов</p>
			<p>монтаж</p>
		</div>
		<img class="poz" src="{% static 'imgs/1271.jpg' %}" alt="" />
		<img class="poz1" src="{% static 'imgs/logo-design.jpg' %}" alt="" />
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
{% endblock %}